
#content .row {
	margin: 0 auto;
	margin-bottom: 15px;
}

.slider .indicators .indicator-item {
  background-color: #666666;
  border: 3px solid #ffffff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.slider .indicators .indicator-item.active {
  background-color: #ffffff;
}
.slider {
  width: 100%;
  height: 295px !important;
}

.slides {
	height: 325px !important;
}

.indicators {
  bottom: 60px;
  z-index: 100;
  /* text-align: left; */
}

#content .news-area .row {
	margin: 0;
}

.news-area ul {
	margin: 0;
	border: 2px solid orange;
	border-radius: 0;
}

.news-area .collection .collection-item {
	padding: 7px 0 7px 0;
	line-height: 1.5;
}

.news-area .news-header {
	width: 35%;
	background: orange;
	font-size: 12px;
	padding: 10px;
	color: #fff;
	font-weight: 500;
	text-align: center;
}

.news-area .see-more {
	background: white;
	font-size: 12px;
	text-align: center;
	padding: 5px;
}

.news-area .row {
	margin: 0;
}

.news-area .row .content .title {
	font-size: 13px;
}

.news-area .row .content .title a {
	color: #000;
}

.news-area .row .content .timestamp {
	font-size: 9px;
	bottom: 0;
	left: 0;
	opacity: .7;
}

.news-area .row img {
	width: 70%;
}

ol.breadcrumb {
	background: #183544;
	border-radius: 0;
}

ol.breadcrumb li {
	font-size: 12px;
	color: white;
}

ol.breadcrumb li a {
	color: white;
}

ol.breadcrumb li a:hover {
	color: orange;
}

ol.breadcrumb > .active {
	color: white;
}

.manufacturer-area div.list-group-item:first-child {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background: orange;
	color: white;
	font-size: 12px;
	font-weight: 500;
}

div.collection {
	margin-top: 0;
}

#content .row.product-panel {
}

#content .row.product-grid {
	margin-bottom: 0;
}

.row .product-panel .panel-name {
	color: #4471c2;
	border-radius: 0;
	padding: 0;
	margin-bottom: 0px;
	font-weight: 400;
	font-size: 17pt;
	text-transform: uppercase;
}

.row .product-panel .see-more {
	text-align: right;
	vertical-align: middle;
	padding: 5px 15px 5px 15px;
	background: white;
	border: 1px solid #c3c;
	float: right;
}

.row .product-panel .see-more a {
	color: white;
	padding: 5px;
	padding-left: 7px;
	padding-right: 7px;
	background: orange;
}

.row .product-panel .see-more a:hover {
	color: white;
	background: orange;
}

.product-grid .thumbnail {
	border-radius: 0;
	border: 1px solid #c3c;
	padding-top: 20px;
	min-height: 419px;
}

.product-grid .thumbnail .caption h4 {
	min-height: 40px;
}

.product-grid .thumbnail.product-box a {
	border-radius: 0;
	box-shadow: none;
}

.product-grid .thumbnail.product-box .price {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	margin-right: 10px;
}

.product-grid .thumbnail.product-box strong {
	font-size: 18px;
	font-weight: 700;
	color: red;
	text-transform: uppercase;
}

